
.row:hover{
color: aqua;
background-color: brown;
}


body{
    background-color: grey;
    display: flex;
    flex-direction: column;

}





html, body {
    height: 100%;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding if desired */
}

.Inside{
    display: flex;
        max-width: 960px;
     max-height: 960px;
     height: 960px;
     width: 960px;
     border: 2px solid black;
}


.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sketch{
     display: flex;
     justify-content: center;
}

#bt{
    border: 2px transparent solid;
    padding: 12px;
       border-radius:2px;
    margin:20px;
     outline: 3px solid ;
}

.footer{
    background-color: black;
    color: white;
    padding: 12px;
    margin-top: 20px;
}